<h1>calendar</h1>
<%= month_calendar events: @checkins do |date, checkins| %>
  <%=  date.day %>
  <% checkins.each do |checkin| %>
  X
  <!-- <div class="" style="background-color: blue; width: 100%; height: 100%" >
  </div> -->

  <% end %>

<% end %>
