<h1>Check-in Calendar</h1>
<div class="caltitle">
  GOAL: <%= @goodhabit.goodhabit %>
</div>
<%= month_calendar events: @checkins do |date, checkins| %>
  <%=  date.day %>
  <% checkins.each do |checkin| %>
  <% end %>
<% end %>
