<section class="panel one">
	<p class="headone">Welcome to <br> make it or break it</p>
</section>
<section class="panel two">
	<p class="headtwo">Do you have a goal you've always wanted to achieve or a bad habit you want to break?</p>
</section>
<section class="panel three">
	 <p class="headthree">Studies show that it takes about 21 days to make or break a habit.</p>
</section>
<section class="panel four">
	 <p class="headfour">So are you ready to <br> <%=link_to "make it", new_goodhabit_path, :id => 'makebutt' %> or <%=link_to "break it", new_badhabit_path, :id => 'breakbutt' %></p>
</section>
