// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$accentcolor: #ede0ff;
$lightgray: #d6d6d6;
$progressbar: #2bdbd8;
.habitheader {
  font-size: 35px;
  text-transform: uppercase;
  margin: 10px;
}

hr{
  width: 900px;
  height: 2px;
  border: 0;
  background-color: $accentcolor;
  margin-top: 30px;
  margin-bottom: 30px;
}

.progress-bar-wrapper {
  background-color: white;
  height: 20px;
  width: 500px;
  border: 3px solid $accentcolor;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
}

.progress-bar {
  background-color: $accentcolor;
  height: 20px;
  border-radius: 10px;

}

.percent {
  display: inline;
}

.marshmallowone {
  // float: left;
}

.goal {
  padding: 70px;
  // float: right;
}

.heading {
  clear: both;
  text-align: center;
  font-size: 35px;
  margin: 20px;
}

.test {
   display: -webkit-inline-box;
}

.status {
   padding: 20px;
}
